.arco-form-item-label {
  font-weight: bold;
}
.arco-input.arco-input-size-large {
  height: 36px;
}
.arco-input-wrapper,
.arco-btn {
  border-radius: 8px;
}
.arco-btn.arco-btn-size-large {
  height: 48px;
}
.arco-checkbox-icon {
  height: 20px;
  width: 20px;
}
